params {
    publish_dir_mode = "copy"
    log1p_cpm_input_path = "/data/scratch/kvalem/projects/2023/pseudomonas_aeruginosa/tables/log2_cpm_counts_plus_one.tsv"
    gsea_input_path = "/data/projects/2023/Pseudomonas_aeruginosa/20_deseq2icbi/04_deseq2_batch_effect/hAO_inf_hAO_ctrl_GSEA_GO_BP.tsv"
    de_res_sig_fc_input_path = "/data/projects/2023/Pseudomonas_aeruginosa/20_deseq2icbi/04_deseq2_batch_effect/hAO_inf_hAO_ctrl_IHWsigGenes.tsv"
    de_res_input_path = "/data/projects/2023/Pseudomonas_aeruginosa/20_deseq2icbi/04_deseq2_batch_effect/hAO_inf_hAO_ctrl_IHWallGenes.tsv"
    geneset_of_interest = ["response to bacterium","response to lipopolysaccharide","nitric oxide metabolic process","reactive oxygen species metabolic process","antimicrobial humoral response","antimicrobial humoral immune response mediated by antimicrobial peptide","cilium assembly","cilium organization","cilium movement"] 
 
    
    resDir                  = "/data/projects/2023/Pseudomonas_aeruginosa/30_downstream_analysis/005_batch_effect"
}

process {
      cpus = 6

      // Per-process configuration
      withName: ".*COUNTMAT" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: ".*HEATMAP" {
        publishDir = [
            path: { "${params.resDir}/${task.process.toLowerCase()}" },
            mode: params.publish_dir_mode,
        ]
    }


}

conda {
    useMamba = true
    enabled = true
}


profiles {
    conda {
        process {
            withName: COUNTMAT {
            conda = '/home/kvalem/.conda/envs/2022-default-scanpy'
            }
            withName: HEATMAP {
            conda = '/home/kvalem/.conda/envs/2022-default-scanpy'
            }
           
    }
}
}
