  GNU nano 5.6.1                            .gitignore                                      
.ipynb_checkpoints
*.pyc
*.pyc
__pycache__
*sif
*.Rproj
.nextflow*
tmp/
work/
.DS_Store
*.log
*.out
*.err
04-tables/
